In [6]:
import pandas as pd

# cargamos el dataframe del archivo parquet
data = pd.read_parquet('data_sp500_mas_spy.parquet')

In [7]:
# Quitamos las empresas (columnas) que no tienen información completa para los últimos 5 años
df = data.dropna(axis=1)

In [8]:
# creamos un diccionario para almacenar los días más convenientes para cada ticker
dias_convenientes = {}

# iteramos sobre cada ticker
for ticker in df.columns:
    # agrupamos los datos por día de la semana y calculamos el promedio de los precios de cierre
    precios_por_dia = df.groupby(df.index.dayofweek)[ticker].mean()
    # encontramos el día con el precio promedio más bajo y lo agregamos al diccionario
    dia_conveniente = precios_por_dia.idxmin()
    dias_convenientes[ticker] = dia_conveniente

In [10]:
# Convertimos diccionario a dataframe
df1 = pd.DataFrame({
    "dia_invertir": dias_convenientes
})

In [11]:
df2 = pd.read_parquet('df_metrics_all.parquet')
# Concatenamos los dataframes
df_metrics = pd.concat([df2, df1], axis=1)

In [12]:
df_metrics.head()

,daily_volume,market_cap,avg_daily_returns,avg_anual_returns,avg_daily_volatility,avg_anual_volatility,sharpe_ratio,trynor_ratio,information_ratio,beta,dia_invertir
A,1.570100e+06,39218958336,0.000715,0.197357,0.018503,0.293731,0.551720,0.157320,0.671898,1.014853,0
AAL,2.092056e+07,9107004416,-0.000274,-0.066645,0.038467,0.610653,-0.166945,-0.073586,-0.109138,1.418011,2
AAP,1.790403e+06,6860349440,0.000341,0.089818,0.021532,0.341805,0.159500,0.058602,0.262775,0.889349,4
AAPL,6.435345e+07,2494322442240,0.001247,0.368981,0.020882,0.331492,1.006605,0.266041,1.113093,1.245226,0
ABBV,6.754833e+06,279175168000,0.000702,0.193318,0.017807,0.282678,0.559004,0.228811,0.683881,0.680118,0

In [13]:
df_metrics.to_parquet('df_metrics_all.parquet')